<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ParkingLotEntities" connectionString="metadata=res://*/ParkingLotDataModel.csdl|res://*/ParkingLotDataModel.ssdl|res://*/ParkingLotDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.198.160.43;initial catalog=pldb;user id=bossdev;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>